.contentContacte h1 {
    margin: 5em 0 1em 0;
    opacity: 0.8;
}

.contentContacte p {
    margin-top: 1em;
    font-size: 1.5em;
    font-family: bigShouldersRegular;
    color: black;
}

.contacte h1 {
    font-family: bigShoulders;
    color: #FF7900;
    margin-top: 5em;
}

.cont {
    width: 100%;
    margin-top: -2em;
    display: flex;
}

.cont a:hover {
    border: 3px solid black;
}

.contentForm {
    margin: 0 auto;
    margin-top: 4em;
    box-shadow: 10px 10px 5px 5px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 10px 10px 5px 5px rgba(100, 100, 100, 0.5);
    -webkit-box-shadow: 10px 10px 5px 5px rgba(100, 100, 100, 0.5);
    -o-box-shadow: 10px 10px 5px 5px rgba(100, 100, 100, 0.5);
    border-radius: 80px;
    text-align: center;
    width: 25em;
    height: 20em;
    padding-top: 2em;
    opacity: 0.65;
    border: solid #FF7900;
}

.contentForm h2 {
    font-family: lobster;
    color: black;
    padding-top: 0.5em;
    font-size: 2em;
}

.contentForm a {
    padding-top: 2em;
    font-family: anton;
    color: black;
}

.contentForm p {
    padding: 1.2em 1.5em 0 1.5em;
    font-family: anton;
    color: black;
    font-size: 1.2em;
}

.cont a {
    text-decoration: none;
}

.contentForm img {
    width: 2.5em;
}


/*FORMULARI ****************************************/

input[type=text] {
    width: 20em;
    padding: 12px 20px;
    border-radius: 1em;
    border: 2px solid #ccc;
}

textarea {
    width: 30em;
    height: 11.7em;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 1em;
    background-color: #f8f8f8;
    resize: none;
    margin-left: 5em;
}

table {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

.form {
    margin-top: 8em;
}