* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    width: 100%;
}

.main {
    margin-top: 8em;
    width: 100%;
    text-align: center;
}

@font-face {
    font-family: anton;
    src: url(/FONTS/Anton-Regular.ttf);
}

@font-face {
    font-family: lobster;
    src: url(/FONTS/Lobster-Regular.ttf);
}

@font-face {
    font-family: pangolin;
    src: url(/FONTS/Pangolin-Regular.ttf);
}

@font-face {
    font-family: bigShoulders;
    src: url(/FONTS/BigShouldersInlineText-Black.ttf);
}

@font-face {
    font-family: bigShouldersRegular;
    src: url(/FONTS/BigShouldersInlineText-Regular.ttf);
}