.contentNosaltres h1 {
    margin: 5em 0 1em 0;
    opacity: 0.7;
}

.contentNosaltres p {
    margin-top: 0.5em;
    opacity: 0.6;
}

.nos {
    margin: 4.5em 2em 0 2em;
}

.nos p {
    margin: 1em 1em 0 1em;
    opacity: 0.6;
}

.nos h2 {
    margin-top: 0.5em;
    opacity: 0.7;
}

.nos img {
    width: 2.5em;
}

.cont {
    display: flex;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}